* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  text-align: center;
  font-family: robotmedium;
}
html {
  scrollbar-color: #e4e0e2 #3ea831;
  height: 100vh;
  font-size: 16px;
  overflow: hidden;
} 

body {
  height: 100vh;
  background-image:url(../img/1x/BGIMG.png) ;
   overflow-x: hidden;
}
:root
{
    --Dgreen:#006F3B;
    --blanc: #f3f3f3;
    --ligreen: #3ea831;
    --bg:   #f3f3f39a;
 
}

*::selection {
  background: #c46aa8;
  color: #fff;
}
::-webkit-scrollbar {
  width: 1.1rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2.5px 2px rgba(37, 126, 49, 0.5);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#b0d957, #3ea831, #41b74a);
  border-radius: 1.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#284d24, #1c4117, #41b74a);
}

header{
  text-align: center;
  position:fixed;
  width: 100%;
  top:0;
  z-index: 11111111;
  
}

main
{
margin-top: 120px;

}
#container-green{
  border-radius: 0 0 20px 20px; 
  background: linear-gradient(90deg,#b0d957, #3ea831, #41b74a);;
  box-shadow: #56ab2f 0 0 20px -1px;
  width:94vw;
  padding: 5px;
  margin: 0 auto;
  height: 50px;
  display: grid;


grid-template-columns: repeat(8,1fr);
  grid-template-areas:
    "logo   search search   icons icons . . price ";
}
#logo-container{
  grid-area:logo;
}
#container-search{
  position: relative;
  grid-area:search;
  margin: 4px 0;
}
#container-icon{
  grid-area:icons;
  margin: 2px 0;
  display: flex;
}
.icon-nav{
  height: 40px;
}
#price-box{
  grid-area:price;
  background-color:white;
  border-radius: 20px;
  height: 30px;
  width: 120px;
  margin:6px 0;
  text-align: center;
position: relative;
box-shadow: #2c760a 0 0 20px -1px;

}
#price-icon{
  left:2px;
  top:2px;
  position: absolute;
}
#price-dh{
color:#56ab2f;
left:50px;   
top:8px;

  position: absolute;
}
#search-box{
  box-shadow: #408c1d 0 0 20px -1px;

  position: relative;
  border:2px solid #56ab2f;
  border-radius:20px;
  outline: none;
  width:95%;
  height:35px;
  
  cursor:text;
  padding: 0 0 0 10px;
  color:green;
  font-family: robotbold;
}
#search-icon{
position: absolute;
top:5px;
right:15px;
cursor: pointer;
grid-area: searchicon;
}

#menu{
  border: 2px solid #56ab2f;
  background-color: rgb(255, 255, 255);
  width: 90vw;
  margin: auto;
  border-radius: 0 0 30px 30px;
  text-align: center;
}
#menu-2{
  display: flex;
 /* grid-template-columns:1fr 1fr 1fr 1fr;*/
justify-content: center;
justify-self: center;
justify-items: center;
text-align: center;
}
#menu-2 div{
  width: 20vw;
  display: flex;
}

#menu-2 div img{
width:50px;
height: 50px;
}
  #menu-2 div a{
  text-decoration: none;
padding:5px 8px;
color:white;
margin:  auto;
width: 100vw;
border-radius: 40px;

}
#bleu-nav{
  background-color: rgb(2 126 193);

}

#move-nav{
  background-color: rgba(141, 0, 148, 0.966);
}

#gre-nav{
  background-color: rgb(37, 189, 7);

}

#green-nav{
  background-color: rgb(21, 128, 7);


}
/* **************************page1 style******************************** */
 
#contistor {
  width: 100%;
  height: 100vh;
  margin-top: 110px;
  display: flex;
   }
 
.continair {
  width: 80%;
  height:450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  }
#blockimg {
  width: 800px;
  height:450px;
  z-index: 2;
  margin: 0 auto;
  position: relative;
 }
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -75px; 
  margin: 0 auto;
  width: 80%;
}
#logo5 {
  width: 100%;
  height: 90px;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: index 5;
}
#logo5 img {
  width: 100%;
}
#iconCONT {
  z-index: 8;
  width: 80%;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(#b0d957, #3ea831, #41b74a);
  padding: 10px 10px;
  border-radius: 10px 10px 20px 20px;
  box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
}
#iconCONT img {
  width: 10%;
}
#iconCONT img:hover {
  border: solid 2px #fdfdfd;
  border-radius: 50%;
}
#parg {
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  width: 75%;
  height: 70px;
  border: solid 1px var(--ligreen);
  border-radius: 0 0 30px 30px;
  box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
  padding: 5px;
}
#parg p {
  width: 30%;
  color: var(--Dgreen);
  font-size: 12px;
  text-align: center;
  text-transform: capitalize;
  margin: 5px;
  line-height: 15px;

  font-weight: bold;
  font-family: robotbold;
}
.foot  {
  background: linear-gradient(#55bb46, #56bb46);
  margin: 0 auto;
  height: 50px;
  padding: 5px;
  z-index: 2;
  width: 98%;
  box-shadow: 1px 1px 4px #83947c,
  -1px -1px 3px #a6c49c;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
position: absolute;
bottom: 0;
}
.foot  div {
  background: linear-gradient(#c0e5b5, #c1e5b4);
  height: 20px;
  width: 15%;
  border-radius: 50px;
  margin: 10px auto;
 }

.footH  {
  background: linear-gradient(#55bb46, #56bb46);
  height: 50px;
  z-index: 2;
  border-bottom: solid 2.5px var(--Dgreen);
  border-top: solid 2.5px var(--ligreen); 
  
 }
.footH  img {
   height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 5px auto;
  margin-left: 30px ;
  float: left;
}
 

/* **************************page2 style******************************** */

#Homme1 {
  width: 100%;
  height:100vh;
  margin:  0 auto;
  margin-top: 15px;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  position: relative;
  /* background-color: violet; */
   }
#conti {
  width: 100%;
  height: 500;
  display: flex;
 }



#bolok2 {
  position: absolute;
  top: 35px;
  right: -10%;
   background-color: #f3f3f3;
  box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
  width: 380px;
  height: 320px;
  z-index: 9;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: 0 auto;
  border-radius: 15px;
  display: none;
   }

   #bolok2 .asid  {
    width: 100%;
    height:150px ;
     overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    padding-right: 10px;
    position: relative;
    padding-left: 20px;
    margin: 10px auto;
    margin-bottom: 20px; 
  }
  
.hdings {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.hdings h2 {
  background: var(--blanc);
  font-size: 15px;
  width: 50%;
  color: var(--Dgreen);
  padding: 5px;
  margin: 0 auto;
  font-family: robotbold;
  border-radius: 40px;
  border: solid 0.3px  ;
  text-transform: uppercase;
  box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b498;
}
.hdings #pd{
  background :var(--Dgreen);
  color: var(--blanc) ;
  margin-right: 100px;
 }

.leftblock {
  width: 30%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px; 
} 
.listP {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  margin: 0 auto;
  margin-top: 15px;
  align-items: center;
  border-radius: 25px;
  border-left: solid 2pt var(--ligreen);
  }

#prod {
  width: 100%;
  padding: 5px;
  background-color: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: solid 1pt var(--ligreen);
  border-right: solid 1pt var(--ligreen);
  border-left:0;
  border-bottom: 0;
  }
#prod:hover    {
   background: linear-gradient(#b0d957, #3ea831, #41b74a);
}
 #prod:hover p {
  color: #fff;
 }

#prod:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 25px;
}

#prod:last-child {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom: solid 2pt var(--ligreen);
}
.listP #prod #img {
  float: left;
  background: linear-gradient(#b0d957, #3ea831, #41b74a);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
#img img {
   object-fit: cover;
   margin: 0 auto;
   width: 106%;
}
#prod p {
  width: 70%;
  color: var(--Dgreen);
  font-size: 12pt;
  font-family: robotbold;
  font-size: 12px;
  text-align: left;
  margin: 0 auto;
}
.rieghtblok {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  width: 100%;
  height: 410px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  border-radius: 15px;
  background: #f3f3f3;
  overflow: auto;
  box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
  padding: 10px;
  margin-top: 15px;
}
.contP {
  width: 17%;
  height: 140px;
  border: solid 2px #39b54a8f;
  box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
  max-width: 220px;
  min-width: 150px;
  margin-bottom: 30px;
  margin-top: 20px;
  border-radius: 15px;
  position: relative;
  z-index: 9;
}
.contP img {
  width: 100px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  top: -25px;
}
.title {
  position: relative;
  top: -20px;
}
.title h4 {
  width: 100%;
  color: var(--Dgreen);
  font-size: 8pt;
  font-family: robotregular;
  text-align: center;
}
.title h2 {
  font-size: 8pt;
  font-family: robotbold;
  color: var(--Dgreen);
}
.botm {
  margin: 0 auto;
  position: relative;
  top: -20px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1px;
}
#prix {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-around;
}
#prix h1 {
  font-size: 25pt;
  width: 50%;
  font-family: robotbold;
  color: var(--Dgreen);
  position: relative;
  letter-spacing: -5px;
  top: -2px;
}
#verg {
  font-size: 11pt;
  position: relative;
  top: 15px;
  color: var(--Dgreen);
  letter-spacing: -1px;
  font-family: robotbold;
}
#dh {
  font-size: 11pt;
  position: relative;
  top: 2px;
  text-transform: lowercase;
  left: -15px;
  color: var(--Dgreen);
  font-family: robotbold;
}
#btn {
  font-size: 8pt;
  width: 100%;
  height: 20px;
  margin: 0 auto;
  color: azure;
  font-family: robotbold;
  border: solid 1px #6ce27c;
  text-align: center;
  background-color: var(--Dgreen);
  border-radius: 15px;
  padding: 2px 0.5px;
  position: relative;
  top: 10px;
}
#btn:hover {
  background: #fdfdfd;
  color: var(--Dgreen);
}
.feet {
  width: 60%;
  height: 22px;
  background-color: #e8e8e8;
  position: absolute;
  bottom: -24px;
  left: 32px;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  border: solid 0.3px var(--ligreen);
  border-top: 0px solid var(--ligreen);
  align-content: center;
  z-index: 1;
}
.moin,
.plus {
  width: 30%;
  height: 100%;
  background: linear-gradient(#55bb46, #56bb46cb);
  float: left;
  color: #fff;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 0px;
  text-align: center;
}
.plus {
  float: right;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 9px;
}
.feet span {
  font-size: 12pt;
  height: 100%;
  background-color: #e8e8e8;
  color: var(--Dgreen);
  font-family: robotbold;
  align-self: center;
}
.moin:hover,
.plus:hover,
.asid #feet1 .moin1:hover,
.asid #feet1 .plus1:hover {
  background: var(--Dgreen);
  color: #fff;
}
 .fotr {
  width: 100%;
  height: 90px;
  border: solid 0.3px var(--ligreen);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 15px;
  margin-top: 10px;
  padding: 10px 15px;
  align-items: center;
  overflow: auto;
  line-height: 10px;
  box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
}
.fotr h3 {
  width: 100%;
  color: var(--Dgreen);
  font-size: 12pt;
  font-family: robotregular;
  text-align: left;
  margin-bottom: 15px;
}
.fotr label {
  font-size: 11pt;
  color:var(--Dgreen);

  font-family: robotregular;
  text-align: left;
  letter-spacing: -1px;
}
.marg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 5px;
}
.main::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2.5px 2px rgba(37, 126, 49, 0.5);
  border-radius: 1rem;
  margin: 100px 0;
}

/* **************************page4 style******************************** */
.headfot{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin-top: 100px;
    }
.contin{
  width: 90%;
  display: flex;
  justify-content: center;
  height: 400px;
  margin: 0 auto;
  position: relative;
  z-index: 8;
 }
#left {
  width: 500px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
   margin-right: 10px;
 }
#left img {
  width: 100%;
}
#reight {
  background-color: #f3f3f39a;
  box-shadow: 1px 1px 4px #83947c, -1px -1px 3px #a6c49c;
  height: 440px;
  width: 330px;
  padding: 0 20px;
  border-radius: 20px;
  margin-left: 15px;
   position: relative;
   top: -48px;
}
#reight h2,
#reight2 h2 {
  background: var(--Dgreen);
  color: #fff;
  font-size: 12pt;
  font-family: robotbold;
  border-radius: 40px;
  border: solid 0.3px var(--ligreen);
  text-transform: uppercase;
  padding: 2px 10px;
  margin-top: 15px;
  text-align: center;
  box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
}

.asidblok {
  margin: 0 auto; 
  width: 100%;
  margin-top:10px;
}
.inp {
  height: 50px;
  margin: 5px auto;
  width: 100%;
  display: flex;
  justify-content: safe;
  align-items: center;
}

label {
  font-size: 12pt;
  color: var(--Dgreen);
  font-family: robotmedium;
  text-align: left;
  margin-left: 15px;
  width: 30%;
}
.inpc label {
  font-size: 10pt;
  color: var(--Dgreen);
  font-family: robotmedium;
  text-align: center;
  float: left;
  width: 98%;
  letter-spacing: 0;
  word-spacing: -1px;
}
.inpc input {
  font: size 6pt;
}
.inp input {
  font: size 6pt;
  float: left;
  margin: 10px;
}
.inpc input {
  float: left;
  width: 20px;
  height: 25px;
  border-radius: 15px;
}
input[type="text"] {
  color: var(--Dgreen);
  font-family: robotmedium;
  text-align: left;
  background-color: #fff;
  border-radius: 15px;
  border: solid 0.3px var(--ligreen);
  width: 200px;
  padding: 0 6px;
}
input::placeholder {
  font-size: 10pt;
  font-family: robotlight;
  color: var(--Dgreen);
  text-align: left;
}
.s {
  font-size: 10pt;
  font-family: robotlight;
  color: var(--Dgreen);
  text-align: left;
  background-color: #fff;
  border-radius: 15px;
  border: solid 0.3px var(--ligreen);
  width: 210px;
  padding: 0 6px;
}
.inpc img {
  width: 35px;
  height: 30px;
}
.inp i {
  width: 30px;
  color: var(--Dgreen);
}
.bat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  margin-bottom: 20px;
}
.bat .btn {
  font-size: 12pt;
  color: var(--Dgreen);
  font-family: robotbold;
  border: solid 0.3px var(--ligreen);
  background-color: #fdfdfd;
  border-radius: 30px;
  padding: 5px 10px;
  width: 30%;
}
.bat .btn:hover {
  background: linear-gradient(#b0d957, #3ea831, #41b74a);
  color: #fff;
}
/* ********* page5 *************************** */

#reight2 {
  background-color: #f3f3f39a;
  box-shadow: 1px 1px 4px #83947c, -1px -1px 3px #a6c49c;
  
  padding: 0 20px;
  border-radius: 30px;
  margin-left: 30px;

  height: 430px;
  width: 330px;
  padding: 0 20px;
  border-radius: 20px;
  margin-left: 15px;
   position: relative;
   top: -48px;
}

.asidblok2 {
  margin: 0 auto;
  margin-top: 15px;
  width: 100%;
  height: 420;
    align-items: center;
 }
.cart,
.cach {
  width: 100%; 
  height: 80px;
   position: relative;
}

.p1 {
  width: 100%;
  height: 30px;
  margin-top: 10px;
 position: relative;
 display: flex;
 flex-direction: column;
  }
.p1 label {
  position: relative;
   left: -10px;
  font-size: 12pt;
  color: var(--Dgreen);
  font-family: robotmedium;
  text-align: left;
   width: 220px; 
}
.p1 input {
  height: 20px;
  width: 20px;
  float: left;
}
.cart p,
.cach p {
  font-size: 10pt;
  color: var(--Dgreen);
  font-family: robotlight;
  text-align: left;
  letter-spacing: -0px;
 position: relative;
 }
.imgs,.imgs2{margin-bottom: 20px;}
.imgs img {
  width: 80%;
  height: 200;
}

.imgs2 img {
  width: 85px;
  height: 85px;
}
/* ********* page6 *************************** */

.contis {
  width: 90%;
   height: 80vh ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0  auto;
  overflow: hidden; 
   }
 #lgc{
   margin: 0 auto;
   margin-right:350px;
    width: 50%;
   height: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center ;
  }
 #lgc :first-child, #lgc :last-child{
     float: left;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin: 5px auto;
  }
 #lgc :last-child{
  float: right;
   margin-right: 30px ;
}
 #lgc p{
   color: #fff;
  font-size: 18pt;
  font-family: robotbold; 
  text-transform: uppercase;
   text-align: center;
   margin: 0 auto;
 }
#back {
  width: 100%;
  height: 470px;
  padding: 100px;
   display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  position: absolute;
   top: 0;
  left: 0; 
  z-index: 0;
 }
#bolok1 {
  background-color: #f3f3f3;
  box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
  width: 380px;
  height: 350px;
  z-index: 9;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin: 0 auto;
  z-index: 4;
  border-radius: 15px;
  margin-bottom: 40px;
}
 #back #khmisa {
  width: 50%; 
}
#back #asist {
  transform: rotate(-40deg);
  width: 50%;
}

#bolok1 h2 ,#bolok2 h2 {
  background: var(--Dgreen);
  color: #fff;
  width: 90%;
  font-size: 12pt;
  font-family: robotbold;
  border-radius: 40px;
  border: solid 0.3px var(--ligreen);
  text-transform: uppercase;
  padding: 2px 10px;
  margin-top: 10px;
  text-align: center;
  box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
}

.asid {
  width: 100%;
   overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  padding-right: 10px;
  position: relative;
  padding-left: 20px;
  margin: 10px auto;
  margin-bottom: 25px; 
}

.contiPR {
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  background: #f3f3f3;
  border: solid 0.3px var(--ligreen);
  box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
  border-radius: 15px;
}
.contiPR img { 
  max-width: 50px;
  max-height: 60px;
  width: 18%;
  position: relative;
  float: left;
  top: -10px;
  left: 5px;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: safe;
  position: relative;
  left: 15px;
  top: -12px;
  width: 70%;
  height: 35px;
  z-index: 2;
  align-items: center;
}

.desc p {
  width: 100%;
  height: 100%;
  color: var(--Dgreen);
  font-size: 11pt;
  font-family: robotbold;
  text-align: left;
  overflow: hidden;

  font-weight: bold;
}
.prix1 {
  width: 50%;
  display: flex;
  position: relative;
  left: 15px;
  top: -30px;
  align-items: center;
  position: relative;
}
.prix1 h1 {
  font-size: 25pt;
  color: var(--Dgreen);
  letter-spacing: -5px;
  font-family: robotbold;
  position: relative;
}
.prix1 #vergg {
  font-size: 11pt;
  position: relative;
  left: 5px;
  color: var(--Dgreen);
  letter-spacing: -1px;
  font-family: robotbold;
}
.prix1 #dh1 {
  font-size: 11pt;
  position: relative;
  top: -13px;
  text-transform: lowercase;
  left: -8px;
  color: var(--Dgreen);
  font-family: robotbold;
}
.xx {
  position: relative;
  right: 2px;
  float: right;
  bottom: 88px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
}
.xx img {
  width: 80%;
  height: 80%;
}
.asid #feet1 {
  width: 45px;
  height: 16px;
  background-color: #e8e8e8;
  position: relative;
  left: -165px;
  top: 24px;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  display: flex;
  padding-bottom: 2px;
  justify-content: space-between;
  border: solid 0.3px var(--ligreen);
  align-items: center;
  transform: rotate(90deg);
}
.asid #feet1 .moin1,
.asid #feet1 .plus1 {
  width: 30%;
  height: 18px;
  background: linear-gradient(#55bb46, #56bb46cb);
  float: left;
  color: #fff;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 0px;
}
.asid #feet1 .plus1 {
  float: right;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 9px;
}
.asid #feet1 span {
  font-size: 10pt;
  height: 100%;
  background-color: var(--blanc);
  color: var(--Dgreen);
  font-family: robotbold;
  align-self: center;
  text-align: center;
}
.contiTOT {
  width: 100%;
  height: 60px;
  padding: 10px;
  margin: 0px auto;
  position: relative;
  background: #f3f3f3;
  box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
  display: flex;
  align-items: center;
  border-radius: 15px;
}
.logo {
  float: left;
  position: absolute;
  border-radius: 50%;
  left: 0px;
  top: -15px;
  width: 20%;
  margin-right: 0px;
  z-index: 4;
}
.tot {
  width: 45%;
  margin-left: 20%;
}
.tot h3 {
  text-align: left;
  font-size: 18pt;
  font-family: robotbold;
  color: var(--Dgreen);
  text-transform: uppercase;
  position: relative;
  top: -0px;
}
#copon {
  border: solid 0.3px var(--ligreen);
  width: 100px;
  border-radius: 10px;
  padding: 0 8px;
  position: relative;
  left: -15px;
  top: -8px;
}
input::placeholder {
  font-size: 8pt;
  font-family: robotlight;
  color: var(--Dgreen);
  text-align: left;
}
.reight {
  width: 44%;
  line-height: 15px;
}
.prix {
  margin-top: 9px;
  position: relative;
  left: -15px;
  top: 5px;
  
}
.sous {
  margin-top: 5px;
}
.tva {
  position: relative;
  bottom: 5px;
}
.prix h3,
#verg1 {
  font-size: 14pt;
  font-family: robotbold;
  color: var(--Dgreen);
  text-align: left;
  text-transform: uppercase;

}
#pre1,
#dh11 {
  font-size: 18pt;
  font-family: robotbold;
  text-align: left;
  color: var(--Dgreen);
  
}
.sous h3 {
  font-size: 8pt;
  font-family: robotregular;
  color: var(--Dgreen);
  text-align: right;
  text-transform: uppercase;

}
.tva h3 {
  font-size: 8pt;
  font-family: robotregular;
  color: var(--Dgreen);
  text-align: right;
  text-transform: uppercase;

}
.btnn {
  font-size: 12pt;
  color: azure;
  font-family: robotbold;
  border: solid 0.3px var(--ligreen);
  text-align: center;
  background: linear-gradient(#55bb46, #56bb46cb);
  border-radius: 15px;
  padding: 0 8px;
  margin: 10px;
}
.btnn:hover {
  background: var(--Dgreen);
  color: #fff;
}
/* **********page7 ******************************************* */
 
 #bolkn {
  background-color: var(--blanc);
  width: 800px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:   20px;
  z-index: 2;
  box-shadow: 6px 5px #1311110a;
  border: solid 3px #1311110a;
  border-radius: 30px;
  box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
  position: relative;
  top: -10px;
  
}
#bak {
  width: 100%;
  height:100%;
  padding: 100px;
  display: flex;
  align-items: center;
  align-self: center;
  position: absolute;
   top: 0;
  left: 0; 
   margin: 0 auto;
  z-index: 2;
 }
#bak #khmisan {
  position: relative;
  left: -100px;
  z-index: 1;
  width: 45%;
 }
#bak #khmisa img {
  width: 100%;
}
#asistn img {
  width:100%;
  z-index: 9;
}
#asistn {
  position: relative;
  right: -40px;
  bottom: -70px;
  z-index: 9 ;
  width: 38%;
}
#bolkn #log {
  width: 80px;
  height: 80px;
}
#Done{
  height: 160px;
  width: 160px;
  margin: 20px 0;
   display: none;
   position: relative;
}
#loader {
  height: 100px;
  width: 100px;
  margin: 50px 0;

   position: relative;
}
#loader span{
  position: absolute;
  top: 0px;left: 0px;
  height: 100%;
  width: 100%;
 transform: rotate(calc(18deg*var(--L)));
}
#loader span::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: var(--ligreen);
  border-radius: 50%;
  transform: scale(0);
  animation: anm 2s linear infinite;
  animation-delay: calc(0.1s*var(--L));
   
}
@keyframes anm{
  0%{
    transform: scale(0);
  }
  10%{
    transform: scale(1.2);
  }
  100%,80%{
    transform: scale(0);
  }
}

#bolkn #headn {
  width: 250px;
  height:65px;
 }
#bolkn p {
  width: 100%;
  margin: 10px 0;
  font-size: 12pt;
  font-family: robotmedium;
  color: var(--Dgreen);
  line-height: 20px;
  text-shadow: 0.2px 0.5px #b0006a94;
}


#logo {
  width: 300px;
  position: absolute;
  bottom: 50px;
  right: 44%;
}
#logo {
  width: 180px;
}
#sencodMenu,
   #Sencondcontainer-search,
   #secondNav,
   .hdings2,
   #fr{
     display: none;
   }
@media (max-width: 1240px) {
  html {
    height: 100vh;
    overflow: hidden;
    font-size: 14px;
  } 
  .contP {
    min-height: 150px;
  }
  .botm {
    top: -22px;
  }
  .feet {
    bottom: -24px;
  }
  #btn {
    padding: 0;
    padding-top: 2px;
  }
  #logo {
    display: none;
  }
  #lgc{
    margin:auto;
 
  }  
  #Homme1{
    height:590px;
    margin-top:50px ; 
  
   }
  #conti  {     margin-bottom: 85px;}
   .continair{width: 100%;} 

  .contis {
    width: 100%;
    height: 70vh ;

      overflow: hidden;
  }  
  #asistn { 
    width: 45%;
    bottom: -90px;
  }
  #khmisan { 
    width: 100%;
  }
  .hdings #pd{
    background :var(--Dgreen);
    color: var(--blanc) ;
    margin-right: 70px;
   }

   
 
 }
 @media (max-width:920px){

  ::-webkit-scrollbar {
    width:0rem;
  }


  html {
    height: 100vh;
    overflow: hidden;
    font-size: 12px;
  } 
  #container-green{
    width: 100vw;
    border-radius: 0;
    margin-bottom: 50px;
  }

  #menu ,
  #container-icon ,
  #container-icon ,
  #container-search ,
  #logo-container ,
  .hdings
  {
    display: none;
  }
  #price-box{
     width:  100px;
  }
  #price-box span{
    margin: 0;  
   }
  #secondNav{
     display: flex;
     justify-content: space-between;
     width: 80vw;
  }
  #toglmenu{
    width: 40px;
    height: 40px;
     display: flex;
    align-items: center;
    justify-content: center;
    float: left;
  }
  #toglmenu img {
    width: 100%;
    height: 100%;
    float: left;
    background : #acd756;
  }
  
  #icon{
    float: left;
    width: 45px;
    height: 45px;
    
  }
  #secondlogo{
    width:  150px;
    height: 40px;  
    background: transparent;}
   #searchtogl{
    float: right;
    width: 30px;
    height: 30px;
    margin-right: 10px;
     display: block;
     border: oldlace solid 1px;
     border-radius: 50%;
     margin: 8px;
   }
 
   #Sencondcontainer-search{
      background-color: #41b74b85 ;
     position:absolute;
     width:100%;
     height:  120px;
     align-items: center;
     justify-content: center;
     display: none;
     z-index: 11;

   }
   #Sencondcontainer-search #search-box{
     position: relative;
     bottom: -20px;
     width: 60%;
 
  }

  #Sencondcontainer-search #search-icon{
    position: relative;
    top: 20px; 
    left: -4%;
 }

 #sencodMenu{
   background-color:var(--blanc)  ;
   width: 55%;   
   border-bottom-right-radius: 50%;
   height: 98vh;
   position: fixed;
   top: 0;
   z-index: 100;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b498;
    display: none;
 }

 #menu-2{
   flex-direction: column;
   width: 80%; 
   margin-top:30% ;
 }
 #menu-2 div  {
  width:80%;
  height: 50px;
  }
  #logos{
    width:100% ; 
    background: linear-gradient(#55bb46, #56bb46cb);
    margin:15% ;
    display: flex;
    justify-content: space-around;
    border-bottom-right-radius: 30px;
  }



  #Homme1 {
    margin-top: 40px;

   }
   #conti {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    }
   #contistor {
    width: 100%;
    margin-top: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    }
  .headfot {
     margin-top:40px;
   }
   .leftblock{
      height: 30vh ;
     width: 100%;
     padding: 0;
   }

    
  .main::-webkit-scrollbar ,
   #bolok1 ::-webkit-scrollbar,
   #bolok2 ::-webkit-scrollbar {
    width:0.8rem;
  } 
 .hdings2{
   display: block;
  line-height: 5px;
  width: 100%;
  height: 50;
  margin : 8px auto;
 
 }
 
  .hdings2 h2 {
    font-size: 2.5rem;
    color: var(--Dgreen);
    font-family: poppinsmedium;
   }
   .hdings2 p{
    font-size:1.1rem;
    color: rgba(12, 12, 12, 0.699);
    font-family: poppinsregular;
    letter-spacing: -0.5px;
 
   }
  .listPmobile{
    flex-direction: row;
    width:  100%   ;   
    height: 150px;
    border: 0;margin: 0;
    margin-bottom: 25px;
     }
   .listPmobile #prod{
    margin-top: 10px  ; 
    padding: 0;
    width: 80%;
    border-radius: 8px;
     flex-direction: column;
    height: 100px;
    border:1.5px solid #56ab2f;
    box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
       
  }

  
  .listPmobile #prod  #img  {
     background: linear-gradient(#b0d957, #3ea831, #41b74a);
     border-radius: 50%;
     height: 45px;
    width: 45px;
 }

 .listPmobile #prod:hover{
height: 105px;}
 
.listPmobile #prod:hover  #img  {
background: var(--Dgreen);

}
 
.listPmobile #prod p{
  margin: 10px 0 0 0;
  font-size: 0.9rem; 
  text-align: center;
  width: 100%;
    
}
.listPmobile #img img {
  object-fit: cover;
  margin: 0 auto;
 }
.continair {
  width: 100%;
   margin: 40px auto;
  display: flex;
  flex-direction: column;
  position: relative;
  /* background: chartreuse; */
  }
  #blockimg {
    width:  80%;
    max-width: 600px;
      z-index: 2;
    margin: 0 auto;
     /* background:  aqua; */
     z-index: 10;
   }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -85px; 
    margin: 0 auto;
    width: 80%;
     z-index: 11 ;
  }
  #logo5 {
    width: 100%;
    height: 90px;
    position: absolute;
    top: -50px;
    left: 0;
   }
  #logo5 img {
    width: 100%;
  }
  #iconCONT {
    z-index: 8;
    width:95%;
     display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg,#55bb46, var(--ligreen), var(--Dgreen));
     border-radius: 10px  ;
    box-shadow: 0 0  0 #97a890, 0  0 #c1e5b4;

  }
  
  #iconCONT img {
    width: 10%;
  }
  #iconCONT img:hover {
    border: solid 2px #fdfdfd;
    border-radius: 50%;
  }
   #parg {
    display: flex;
    justify-content: space-evenly;
     width: 95%;
    height: 60px; 
    border: 0;
    box-shadow: 0 0  0 #97a890, 0  0 #c1e5b4;
     
    }
  #parg p {
    width: 50%;
    height: 120%;
    color: var(--blanc);
    font-size: 0.8rem;
    text-align: center;
    line-height: -2px;
    text-transform: capitalize;
    margin: 5px;padding: 5px;
    line-height: 15px;
    background: linear-gradient( #55bb46, var(--ligreen), var(--Dgreen));
    font-weight: bold;
    font-family: robotbold;
    position: relative;
    top: -10px;
    border-radius:0 0  10px 10px;
  }
  .foot ,#fot {
    background: linear-gradient(#55bb46, #56bb46);
    height: 30px;
    padding: 5px;
    z-index: 2;
    width: 100%;
    box-shadow: 1px 1px 4px #83947c,
    -1px -1px 3px #a6c49c;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    position: absolute;
    margin: 5px auto;
    display: flex;
    justify-content: space-around;
    top: 34%;
  }
  .footH{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
     z-index: 11;

  }
   .footH :nth-child(2){
    display: none;
  }
  #fot h2 ,#fr {

    background-color: transparent;
    color: white;
    border: 0;
    box-shadow: 0 0;
    font-size: 1.5rem;
    margin-top: 8px;
    width: 60%;
    display: block

  }
  .foot  div  ,
  #footfor,#left 
  {
   display: none;
   }
   .main {
    width: 100%;
    height: 50vh;
     
    margin-top: 30px;
  }
  .contin{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80vh;
    margin: 0 auto;
    position: relative;
    z-index: 8;
   }
  .headfot{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
 
 
 
#reight,#reight2{
    height: 440px;
  width: 70%;
  max-width: 380px;
  position: relative;
  top: -20px;
   margin: 0  auto;
  }
  label {
    font-size: 1.2rem;
    color: var(--Dgreen);
    font-family: robotmedium;
    text-align: left;
    margin-left: 15px;
    width: 30%;
  }
  .inpc label {
    font-size: 1.2rem;
    color: var(--Dgreen);
    font-family: robotmedium;
    text-align: center;
    float: left;
    width: 98%;
    letter-spacing: 0;
    word-spacing: -1px;
  }
  .inpc input {
    font: size 6pt;
  }
  .inp input {
    font-size: 1rem;
     float: left;
    margin: 10px;
  }
  .p1 label {
    position: relative;
     font-size: 1rem;
    color: var(--Dgreen);
    font-family: robotmedium;
    text-align: left;
     width: 200px; 
     left: -15%;
  }
   
  .cart p,
  .cach p {
    font-size: 1rem;
       
   }
  
  input[type="text"] {
    color: var(--Dgreen);
    font-family: robotmedium;
    text-align: left;
    background-color: #fff;
    border-radius: 15px;
    border: solid 0.3px var(--ligreen);
    width: 200px;
    padding: 0 6px;
    font-size: 1rem;
  }
  input::placeholder {
    font-size: 1rem;
    font-family: robotlight;
    color: var(--Dgreen);
    text-align: left;
  }
  .s {
    font-size: 1rem;
    font-family: robotlight;
    color: var(--Dgreen);
    text-align: left;
    background-color: #fff;
    border-radius: 15px;
    border: solid 0.3px var(--ligreen);
    width: 210px;
    padding: 0  ;
  }
   
   
  .bat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    margin-bottom: 20px;
  }
  .bat .btn {
    font-size: 1rem;
    color: var(--Dgreen);
    font-family: robotbold;
    border: solid 0.3px var(--ligreen);
    background-color: #fdfdfd;
    border-radius: 30px;
    padding: 5px 10px;
    width: 30%;
  }
  

.asidblok {
  margin: 0 auto; 
  width: 100%;
  height: 100%;
   }
 
.theImg{
  width: 40px;
  height: 40px;
  position: relative;
 }

 #bak #bolkn {
  background-color: var(--blanc);
  max-width:300px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   z-index: 2; 
   margin: 0 auto;
  border-radius: 30px;
  box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
 
 }
 .contis {
   width: 100%;
   padding: 10px; 
    }
#bak {
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
  align-self: center;
  position: absolute;
   top: 0;
  left: 0; 
   margin: 0 auto;
  z-index: 2;
  }
   
  #bolok1 {
    background-color: #f3f3f3;
    box-shadow: 1px 1px 3px #97a890, -1px -1px 3px #c1e5b4;
    width: 98%;
    height: 350px;
    z-index: 9;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
     border-radius: 15px;
   }

   
#bolok1 h2 ,#bolok2 h2 {
  background: var(--Dgreen);
  color: #fff;
  width: 90%;
  font-size: 1.5rem; }

.asid {
  width: 100%;
   overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px;
  padding-right: 10px;
  position: relative;
  padding-left: 20px;
  margin: 10px auto;
  margin-bottom: 25px; 
}
 

.desc p {
  
  font-size: 1.5rem ;
   
}
 .prix1 h1 {
  font-size: 3rem; 
}
.prix1 #vergg {
  font-size: 1.5rem;
   
}
.prix1 #dh1 {
  font-size: 1.5rem;
   
}
.xx {
  float: right;
  bottom: 86px;
  
}
 

   
#bolok2 {
   width: 300px;
   
   }


#bak #khmisan,#asistn, #back  {
  display: none;
 }
 #lgc{
 display: none;
 }
 


 }

@media(max-width:500px){
  html {
    height: 100vh;
    overflow: hidden;
    font-size: 10.5px;
  } 
  #sencodMenu{
     width: 72%;
  
  }
  #Sencondcontainer-search #search-icon{
    position: relative;
    top: 20px; 
    left: -6%;
 }
 #blockimg {
  width:  100%;
  max-width: 600px;
   margin: 0 auto;
   /* background:  aqua; */
   z-index: 10;
 }

 #parg p { 
  font-size: 0.7rem;
  width: 100%;
 }
 #iconCONT img {
  width: 12%;
}
#price-box{
  width:   31.1px ;
}
#price-box span{
  display: none;
}
#conti {
  width: 100%;
  height: 75h;
  display: flex;
  flex-direction: column;
 }
 .foot  {
   top: 32%;
}
#left img {
  width: 80%;
}

#reight,#reight2{
 height: 440px;
width: 98%;
max-width: 380px;
position: relative;
top: -35px;
 margin: 0  auto;
}
.p1 label {
  position: relative;
   font-size: 1.2rem;
  color: var(--Dgreen);
  font-family: robotmedium;
  text-align: left;
   width: 200px; 
   left: -10%;
}
 
.cart p,
.cach p {
  font-size: 1.1rem;
     
 }

 .tot h3 {
   font-size: 2rem;
  
}
#copon  ,
input::placeholder {
  font-size:1rem;
  
}
 
.sous {
  margin-top: 5px;
}
.tva {
  position: relative;
  bottom: 5px;
}
.prix h3,
#verg1 {
  font-size: 1.5rem;
   

}
#pre1,
#dh11 {
  font-size: 1.8rem; 
  
}
.sous h3 ,.tva h3{
  font-size: 0.9rem;
   
}
 
.btnn {
  font-size: 1.5rem;
   
}
 
#bolok2 {
  width: 300px;
  padding: 0;
 
  }

 }
 @media(min-height:680px){
   
  #Homme1 {
    margin-top: 30%;

   }
 }